<section id="login-reg">
    <div class="container">
        <!-- Top content -->
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Sign up now</h3>
                            <p>Fill in the form below to get instant access</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom"><!-- <form  [formGroup]="loginForm" class="form-horizontal"></form> -->
                        <form [formGroup]="registrationForm" class="form-horizontal">


                            <div class="input-group form-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="First & Last Name" aria-describedby="basic-addon1"
                                formControlName="username">
                            </div>
                            <div class="input-group form-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1"
                                formControlName="email">
                            </div>
							<div class="alert alert-danger" *ngIf = "!registrationForm.controls['email'].valid && registrationForm.controls['email'].touched">
                              Email id should be xxxx@tcs.com or xxxx@ibm.co.in or xxxx@in.ibm.com
                            </div>
                            <div class="input-group form-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-building-o"></i></span>
                                <input type="tel" class="form-control" placeholder="Company Name" aria-describedby="basic-addon1"
                                formControlName="companyname">
                            </div>
                            <div class="input-group form-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-inbox"></i></span>
                                <input type="tel" class="form-control" placeholder="Designation" aria-describedby="basic-addon1" 
                                formControlName="designation">
                               <!--  <textarea rows="4" cols="70" class="form-control" placeholder="Message"></textarea> -->

                            </div>
                            <div class="input-group form-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1"
                                    formControlName="password">
                                </div>
                            <button type="submit" class="btn btn-primary" (click)="registration(registrationForm.value)">Sign me up!</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-12">

                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter Email and Password to log on</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom"><!-- <form  [formGroup]="registrationForm" class="form-horizontal"> -->
                        <form  [formGroup]="loginForm" class="form-horizontal">
                            <div class="input-group form-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                <input type="text" name="user"  class="form-control" placeholder="Email" aria-describedby="basic-addon1"
                                formControlName="usernamel"><!-- [(ngModel)]="user" -->
                            </div>
                            <div class="input-group form-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock"></i></span>
                                <input type="password" name="password"  class="form-control" placeholder="Password" aria-describedby="basic-addon1"
                                formControlName="passwordl"><!-- [(ngModel)]="password" -->
                            </div>
                            <button type="submit" (click)="login(loginForm.value)" class="btn">Sign in!</button>
							<p style="float:right"><a data-toggle="modal" data-target="#myModal" data-backdrop="false">Forgot Password</a></p>
                        </form>
                    </div>
                </div>

               

            </div>
        </div>
    </div>
    
</section>

<!-- Modal -->
  <div class="modal" id="myModal" >
    <div class="modal-dialog " >
    
      <!-- Modal content-->
      <div class="modal-content" style="height: 170px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
          <div class="input-group form-group">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                <input type="text" name="user"  class="form-control" placeholder="Email" aria-describedby="basic-addon1"
                                [(ngModel)]="mail"><!-- [(ngModel)]="user" -->
          </div>
		  <button type="submit" (click)="forgotPassword()" class="btn" style="float:right">Get Password!</button>
        </div>
      </div>
      
    </div>
  </div>