.panel-heading {
  height: 60px !important;
}

.subheading {
  font-size: 12px !important;
}
@media only screen and (max-width: 414px) {
  .subheading {
    font-size: 10px !important;
    padding: 0px;
  }
}
