<section id="about-page-section-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-align">
        <div class="section-heading">
          <h2>Integration Patterns <span></span></h2>
          <p class="subheading">A common, reusable set of industry patterns…</p>
        </div>
        <p>
          Integration pattern is a repository of reusable flows which can be
          integrated into the enterprise message flows for better visibility,
          traceability and speed of development.
          <br />
          <br />
          Please click to download the <b>Kafka Integration Pattern</b>.
          <u
            ><a href="assets/img/kafka-pattern.zip"
              ><i class="fa fa-download"></i></a
          ></u>
          <br />
          Please click to download the
          <b>Hybrid Integration Pattern using APPCONNECT</b>.
          <u
            ><a href="assets/img/HybridIntegrationPatternsUsingAppconnect.zip"
              ><i class="fa fa-download"></i></a
          ></u>
        </p>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-6 col-lg-8"
        style="margin-top: 45px; width: 65%"
      >
        <img
          height=""
          width="auto"
          src="assets/img/Patterns Overview.jpg"
          class="attachment-full img-responsive"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
