.logo {
  width: 260px;
  height: 150px;
  padding-bottom: 70px;
}

.img {
  width: 100%;
  height: 100%;
}

.logo-img {
  position: fixed;
  margin: 9px 60px 0px 0px;
  right: 0;
  height: 48px;
  display: inline;
}
@media only screen and (max-width: 600px) {
  div.jumpstart-style-default {
    color: black;
    font-size: 13px;
    padding: 0.2px;
    font-weight: bold;
  }

  div.integ-style-default {
    color: #159eee;
    font-size: 15px;
    font-weight: bold;
  }
  span.dwnload {
    font-size: 12px;

    float: left;
  }
  .logo-img {
    position: absolute;
  }
}

.jumpstart-style-default {
  color: black;
  font-size: 22px;
  padding: 2px;
  font-weight: bold;
}

.integ-style-default {
  color: #159eee;
  font-size: 26px;
  font-weight: bold;
}
