.logo{
width: 260px;
height: 150px;
padding-bottom: 70px;
}

.img{
    width: 100%;
    height: 100%;
}

.logo-img{
    position: fixed;
    margin: 9px 60px 0px 0px;
    right: 0;
    display:inline;
	
}