<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
               
                    <div class="navbar-header">
                        <button type="button" id="navclose" #navclose class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
			            </button>

                        <a class="navbar-brand" routerLink="/home">
                            <h2>JUMPSTART<span>PAK FOR</span></h2><h1>INTEGRATION</h1></a>
							<span class="icon-bar"><img class="logo-img" style="height: 58px;" src="assets/img/logo_tcs.png" ></span>

                    </div>
                <div id="navbar" class="collapse navbar-collapse navbar-right">
                    <ul *ngIf="MenumasterService.getNewUser()" class="nav navbar-nav" style="margin: 1.5px 70px 20px">
                        <li><a routerLink="about" routerLinkActive="active" (click)="nav()">About</a></li>
                        <li><a routerLink="solutionsServices" routerLinkActive="active">Services & Solutions</a></li>
                        <li><a routerLink="tools" routerLinkActive="active" >Tools</a></li>
                        <li><a routerLink="bestPractices" routerLinkActive="active" >Best Practices</a></li>
                        <li ><a routerLink="stories" routerLinkActive="active" >Stories</a></li>
						<li ><a routerLink="faq" routerLinkActive="active" >FAQ</a></li>
						<li *ngIf="this.user_role == 'admin' || MenumasterService.getNewUserRole()=='admin'"><a routerLink="admin" routerLinkActive="active" >Admin</a></li>
                        <!-- <li *ngIf="!MenumasterService.getNewUser()"><a routerLink="signin" routerLinkActive="active">Login/Register</a></li> -->
                        <li ><a href="" (click)="logout()">Logout</a></li>

                        <!-- <li><a href="about.html">About</a></li>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="features.html">Features</a></li>
                        
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login.html">Sign In</a></li>
                        <li><a href="registration.html">Sign Up</a></li> -->
                    </ul>
                    <!-- <ul *ngIf="!MenumasterService.getNewUser() == ''s" class="nav navbar-nav">
                        <li ><a routerLink="signin" routerLinkActive="active">Login/Register</a></li>
                     
                    </ul> -->
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </nav>
</header>
