.logo {
  width: 260px;
  height: 150px;
  padding-bottom: 70px;
}

.img {
  width: 100%;
  height: 100%;
}

.logo-img {
  position: relative;
  height: 38px;
  margin-right: 10px;
  margin-top: -20px;
}

.title-default {
  margin-left: 20px;
}
@media only screen and (max-width: 380px) {
  div.jumpstart-style-default {
    color: black;
    font-size: 12px;
    padding: 0px;
    font-weight: bold;
  }

  div.integ-style-default {
    color: #159eee;
    font-size: 15px;
    font-weight: bold;
  }
  span.dwnload {
    font-size: 12px;
  }
  .logo-img {
    display: none;
  }
  .navclose {
    margin-left: 300px;
  }
  .navbar-header {
    margin: 0;
    display: inline-block;
    // height: 30px !important;
  }
}

.jumpstart-style-default {
  color: black;
  font-size: 22px;
  padding: 2px;
  font-weight: bold;
}

.integ-style-default {
  color: #159eee;
  font-size: 26px;
  font-weight: bold;
}
