<section id="about-page-section-3">
    <div class="container" style="height:700px">
        <div class="row">			
            <div class=" text-align">
			  <div class="tab">
                 <ul class="tablinks ">
                     <li class="tablinks">
                        <a class="nav-link active" data-toggle="tab" href="#bestPractices">Best Practice</a>                    
                    </li>
                   <li class="tablinks">
                     <a class="nav-link " data-toggle="tab" href="#refractoring">Refractoring</a>                        
                   </li>
                  </ul>
               </div>			   
            </div>
			
            <div class="tabdata">
			     <div class="tab-content vertical-tab-content no-padding">
                      <div class="tab-pane active" id="bestPractices">
                           <div class="bestPractices">
			                    <div class="section-heading" style="margin-top:1em">
                                     <h2>Best Practices
                                     <span></span>
                                    </h2>
                                    <p class="subheading">All the integration learnings at a common place…</p>
                                </div>
                                <p>
                                   Integration being the backbone in all the enterprises carries a great responsibility to ensure all the upstream and downstream
                                   applications are able to publish/consume the services in an uninterrupted way.
                                   <br>
                                   <br> TCS Integration experts along with IBM and Solution Architects from different industries have laid out
                                   integration best practices to help customers in creating more value out of the existing investments.
                                </p>
                                 <!-- <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt=""> -->
			                </div>                                       
                      </div>
					       <div class="tab-pane" id="refractoring">
                                <div class="section-heading" style="margin-top:1em">
                                     <h2>Refractoring<span></span></h2>
                                </div>
                                <p>
                                   Document List is given below:</p>
								   
								 <p>  1. ACE To_Event streams in CP4I 
									  <a href="assets/img/assets/img/ACE_To_Event_streams_in_CP4I.docx" target="_blank"><i class="fa fa-download"></i></a>
								 </p>
								 <p>  2. Nodeshaving QMDependency For ACE 
								     <a href="assets/img/assets/img/NodeshavingQMDependencyForACE_v1.0.docx" target="_blank"><i class="fa fa-download"></i></a>
								 </p>
								 <p>  3. UnSupported Nodes Queue Related Node
                                      <a href="assets/img/assets/img/UnSupportedNodes_QueueRelatedNodes_v1.0.docx" target="_blank"><i class="fa fa-download"></i></a> 								 
								 </p>
								 <p>  4. TCS SBWS PERSONAL
								      <a href="assets/img/assets/img/TA Advisor Problem Statements.pptx" target="_blank"><i class="fa fa-download"></i></a>
                                </p>
                                        
                     </div>
                  </div>
                            				 
            </div>
        </div>
    </div>
</section>