* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}


/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #5bc0de;
  width: 22%;
  height: 400px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab nav-link:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab nav-link.active {
  background-color: #ccc;
}

.nav-link{
  color: white;
}

.vertical-tab-content {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 78%;
  border-left: none;
  height: 400px;
}
.tablinks{
    padding: 16px 16px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}
