<section id="about-page-section-3" style="margin-top: 20px">
  <div class="container-fluid">
    <div class="row">
      <div class="text-align">
        <div class="tab">
          <ul class="tablinks">
            <li class="tablinks">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#bestPractices"
                id="bestpractices"
                >Best Practices</a
              >
            </li>
            <li class="tablinks">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#refractoring"
                id="refactoring"
                >Refactoring</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="tabdata">
        <div class="tab-content vertical-tab-content-small no-padding">
          <div class="tab-pane active" id="bestPractices">
            <div class="bestPractices">
              <div class="section-heading" style="margin-top: 1em">
                <div class="heading">BEST PRACTICES</div>

                <p class="subheading-1">
                  All the integration learnings at a common place…
                </p>
              </div>
              <p>
                Integration being the backbone in all the enterprises carries a
                great responsibility to ensure all the upstream and downstream
                applications are able to publish/consume the services in an
                uninterrupted way.
                <br />
                <br />
                TCS Integration experts along with IBM and Solution Architects
                from different industries have laid out integration best
                practices to help customers in creating more value out of the
                existing investments.
              </p>
              <p>
                Please click to download the 
                <b>MQ Best Practices</b> 
                <a
                  href="assets/img/MQ_BestPractices_v0.1.docx"
                  target="_blank"
                  ><i class="fa fa-download"></i
                ></a>
              </p>
              <p>
                Please click to download the 
                <b>Best Practices for CP4I and Openshift Installation for Azure and AWS</b> 
                <a
                  href="assets/doc/CP4I_And_OpenShift_Installation_Azure&AWS.docx"
                  target="_blank"
                  ><i class="fa fa-download"></i
                ></a>
              </p>
              <p>Please click to download the 
                <b>Best Practices for Istio Implementation for Ace</b> 
             
                 <a
                   href="assets/doc/Istio-implementation-forACE.docx"
                   target="_blank"
                   ><i class="fa fa-download"></i
                 ></a>
               </p>
              <!-- <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt=""> -->
            </div>
          </div>
          <div class="tab-pane" id="refractoring">
            <div class="section-heading" style="margin-top: 1em">
              <div class="heading">REFACTORING</div>
            </div>
            <p>Document List is given below:</p>

            <p>
              1. ACE To_Event streams in CP4I
              <a
                href="assets/img/ACE_To_Event_streams_in_CP4I.docx"
                target="_blank"
                ><i class="fa fa-download"></i
              ></a>
            </p>
            <p>
              2. Nodeshaving QMDependency For ACE
              <a
                href="assets/img//NodeshavingQMDependencyForACE_v1.0.docx"
                target="_blank"
                ><i class="fa fa-download"></i
              ></a>
            </p>
            <p>
              3. UnSupported Nodes Queue Related Node
              <a
                href="assets/img/UnSupportedNodes_QueueRelatedNodes_v1.0.docx"
                target="_blank"
                ><i class="fa fa-download"></i
              ></a>
            </p>
            <p>
              4. TA Advisor Problem Statements
              <a
                href="assets/img/TA Advisor Problem Statements.pptx"
                target="_blank"
                ><i class="fa fa-download"></i
              ></a>
            </p>
            <p>
              5. MQ Propertiesfile Update Automation Tool
              <a
                href="assets/doc/MQPropertiesAutomation.zip"
                target="_blank"
                ><i class="fa fa-download"></i
              ></a>
            </p> <p>
             6. MQ Properties Update Automation Tool Manual
              <a
                href="assets/doc/MQProperties_ClientConnection_UpdateAutomationDoc.docx"
                target="_blank"
                ><i class="fa fa-download"></i
              ></a>
            </p>
           
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
