<section id="about-page-section-3" style="margin: 20px;">
  <div class="container" style="height: 700px;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
        <div class="section-heading">
          <h2>Stories <span></span></h2>
          <p class="subheading">Easy to use references…</p>
        </div>
        <p>
          Sharing some of the customer stories who have already started their
          journey on Cloud Pak for Integration
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <img
          src="assets/img/iphone62.png"
          class="attachment-full img-responsive"
          alt=""
        />
      </div>
      <div>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
