<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 text-align">
                <div class="section-heading">
                    <h2>Admin
                        <span></span>
                    </h2>
                    
                </div>
				
				<div class="container1">
                   <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="pill" href="#menu1">Action</a></li>
                      <li><a data-toggle="pill" href="#menu2">Archive</a></li>
                   </ul>
				   <div class="tab-content">
				   
                      <div id="menu1" class="tab-pane fade in active">
                         <table class="table table-responsive{-sm|-md|-lg|-xl}">
                           <thead>
                             <tr>
                               <th style="width:10%">#</th>
                               <th style="width:50%">Enail</th>
							   <th style="width:20%">Comments</th>
		                       <th style="width:20%"></th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of UserPendingData"> <!-- | paginate:{id: 'versionPagination1', itemsPerPage: 5, currentPage:p1} -->
                               <td >
                                  <input type="radio" class="radiostyle" id="defaultChecked" (click)="inputselect(user)" name="defaultExampleRadios" >
                               </td>
                               <td >
							        <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
							   <td >
							     <input [disabled]="user.email != emailId" class="textarea" [(ngModel)]="user.comment">
							   </td>
                               <td >
                                  <button [disabled]="user.email != emailId" type="button" class="btn btn-success" (click)="approve(user)" >
                                     Approve
                                  </button>
			                      <button [disabled]="user.email != emailId" type="button" class="btn btn-danger"  (click)="reject(user)">
                                     Reject
                                  </button>
                               </td>
                             </tr>							 
                           </tbody>
                         </table>
						 <!-- <pagination-controls id="versionPagination1" (pageChange)="p1=$event" style="float: right"></pagination-controls> -->
                      </div>
                      <div id="menu2" class="tab-pane fade">
                         <table class="table">
                           <thead>
                             <tr>
                               <th style="width:2%"></th>
                               <th style="width:50%">Enail</th>
							   <th style="width:20%">Stauts</th>
							   <th style="width:25%">Comments</th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of UserHistoryData">  <!--| paginate:{id: 'versionPagination2', itemsPerPage:5 , currentPage:p2} -->
                               <td >
                                  
                               </td>
                               <td >
                                    <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
                               <td >{{user.status}}</td>
							   <td >
							        <input class="textarea" [(ngModel)]="user.comment" disabled>
							   </td>
                             </tr>
                           </tbody>
                         </table>
						  <!-- <pagination-controls id="versionPagination2" (pageChange)="p2=$event" style="float: right"></pagination-controls> -->
                      </div>
                   </div>
                </div>
				
				
            </div>
        </div>
    </div>
</section>


