<section id="about-page-section-3">
    <div class="container" style="height:700px">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 text-align">
                <div class="section-heading">
                    <h2>Admin
                        <span></span>
                    </h2>
                    
                </div>
				
				<div class="container1">
                   <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="pill" href="#menu1">Action For Jumpstart User</a></li>
                      <li><a data-toggle="pill" href="#menu2">Jumpstart User Archive Data</a></li>
					  <li><a data-toggle="pill" href="#menu3">Action For Assesment User</a></li>
                      <li><a data-toggle="pill" href="#menu4">Assesment User Archive Data</a></li>
                   </ul>
				   <div class="tab-content">
				   
                      <div id="menu1" class="tab-pane fade in active">
                         <table class="table table-responsive">
                           <thead>
                             <tr>
                               <th>#</th>
                               <th>Email</th>
							   <th>Comments</th>
		                       <th></th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of UserPendingData"> <!-- | paginate:{id: 'versionPagination1', itemsPerPage: 5, currentPage:p1} -->
                               <td data-title="#">
                                  <input type="radio" class="radiostyle" id="defaultChecked" (click)="inputselect(user)" name="defaultExampleRadios" >
                               </td>
                               <td data-title="Email">
							        <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
							   <td data-title="Comments">
							     <input [disabled]="user.email != emailId" class="textarea" [(ngModel)]="user.comment">
							   </td>
                               <td >
                                  <button [disabled]="user.email != emailId" type="button" class="btn btn-success" 
								          style="margin-right: 1em" (click)="approve(user)" >
                                     Approve
                                  </button>
			                      <button [disabled]="user.email != emailId" type="button" class="btn btn-danger"  (click)="reject(user)">
                                     Reject
                                  </button>
                               </td>
                             </tr>							 
                           </tbody>
                         </table>
						 <!-- <pagination-controls id="versionPagination1" (pageChange)="p1=$event" style="float: right"></pagination-controls> -->
                      </div>
					  
                      <div id="menu2" class="tab-pane fade">
                         <table class="table">
                           <thead>
                             <tr>
                               <th>Email</th>
							   <th>Stauts</th>
							   <th>Comments</th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of UserHistoryData">  <!--| paginate:{id: 'versionPagination2', itemsPerPage:5 , currentPage:p2} -->
                               <td data-title="Email">
                                    <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
                               <td data-title="Status">{{user.status}}</td>
							   <td data-title="Comments">
							        <input class="textarea" [(ngModel)]="user.comment" disabled>
							   </td>
                             </tr>
                           </tbody>
                         </table>
						  <!-- <pagination-controls id="versionPagination2" (pageChange)="p2=$event" style="float: right"></pagination-controls> -->
                      </div>
					  
					  <div id="menu3" class="tab-pane fade">
                         <table class="table table-responsive">
                           <thead>
                             <tr>
                               <th>#</th>
                               <th>Email</th>
							   <th>Comments</th>
		                       <th></th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of assmnt_UserPendingData"> 
                               <td data-title="#">
                                  <input type="radio" class="radiostyle" id="defaultChecked" (click)="assmnt_inputselect(user)" name="defaultExampleRadios" >
                               </td>
                               <td data-title="Email">
							        <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
							   <td data-title="Comments">
							     <input [disabled]="user.email != assmnt_emailId" class="textarea" [(ngModel)]="user.comment">
							   </td>
                               <td >
                                  <button [disabled]="user.email != assmnt_emailId" type="button" class="btn btn-success" 
								          style="margin-right: 1em" (click)="assmnt_approve(user)" >
                                     Approve
                                  </button>
			                      <button [disabled]="user.email != assmnt_emailId" type="button" class="btn btn-danger"  (click)="assmnt_reject(user)">
                                     Reject
                                  </button>
                               </td>
                             </tr>							 
                           </tbody>
                         </table>
                      </div>
					  
                      <div id="menu4" class="tab-pane fade">
                         <table class="table">
                           <thead>
                             <tr>
                               <th>Email</th>
							   <th>Stauts</th>
							   <th>Comments</th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of assmnt_UserHistoryData"> 
                               <td data-title="Email">
                                    <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
                               <td data-title="Status">{{user.user_status}}</td>
							   <td data-title="Comments">
							        <input class="textarea" [(ngModel)]="user.comment" disabled>
							   </td>
                             </tr>
                           </tbody>
                         </table>
                      </div>
					  
                   </div>
                </div>
				
				
            </div>
        </div>
    </div>
</section>


