<section id="about-page-section-3">
    <div class="container" style="height:700px">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12 text-align">
                <div class="section-heading">
                    <h2>Admin
                        <span></span>
                    </h2>
                    
                </div>
				
				<div class="container1">
                   <ul class="nav nav-pills">
                      <li class="active"><a data-toggle="pill" href="#menu1">Action For Jumpstart User</a></li>
                      <li><a data-toggle="pill" href="#menu2">Jumpstart User Archive Data</a></li>
<!-- 					  <li><a data-toggle="pill" href="#menu3">Action For Assesment User</a></li>
                      <li><a data-toggle="pill" href="#menu4">Assesment User Archive Data</a></li> -->
                   </ul>
				   <div class="tab-content">
				   
                      <div id="menu1" class="tab-pane fade in active">
                         <table class="table table-responsive">
                           <thead>
                             <tr>
                               <th style="width:5%">#</th>
                               <th style="width:20%">Email</th>
		                       <th style= "width:30%">Access</th>
							   <th style="width:15%">Comments</th>
							   <th></th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of UserPendingData,let i = index">
                               <td data-title="#">
                                  <input type="radio" class="radiostyle" id="defaultChecked" (click)="inputselect(user)" name="defaultExampleRadios" >
                               </td>
                               <td data-title="Email">
							        <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
							   <td data-title="Access" >
							     <div class="row">
								   <label class="col-sm-12 col-md-8">
								     <input [disabled]="user.email != emailId" type="checkbox"
								          [checked]="user.access[0].jumpstart == true"
										  (change)="result($event,'jumpstart',user)"><span style="color:black;margin-left:.5em">jumpstart</span>
									</label>
									<label class="col-sm-12 col-md-8">
                                     <input [disabled]="user.email != emailId" type="checkbox"
								          [checked]="user.access[1].assessment == true"
										  (change)="result($event,'assessment',user)"><span style="color:black;margin-left:.5em">Assesment Toolkit</span>
								    </label>
									<label class="col-sm-12 col-md-8">
									 <input [disabled]="user.email != emailId" type="checkbox"
								          [checked]="user.access[2].integration == true"
										  (change)="result($event,'integration',user)"><span style="color:black;margin-left:.5em">Integration Patterns</span>
									</label>	  
								    <label class="col-sm-12 col-md-8">
									 <input [disabled]="user.email != emailId" type="checkbox"
								          [checked]="user.access[3].oneclick == true"
										  (change)="result($event,'oneclick',user)"><span style="color:black;margin-left:.5em">One Click Deployment</span>
									</label>	  
									<label class="col-sm-12 col-md-8">
									 <input [disabled]="user.email != emailId" type="checkbox"
								          [checked]="user.access[4].multicloud == true"
										  (change)="result($event,'multicloud',user)"><span style="color:black;margin-left:.5em">Multi Cloud Deployment</span>
								     </label>
									</div>
							   </td>
							   
							   <td data-title="Comments">
							     <input [disabled]="user.email != emailId" class="textarea" [(ngModel)]="user.comment">
							   </td>
                               <td >
                                  <button [disabled]="user.email != emailId" type="button" class="btn btn-success" 
								          style="margin-right: 1em" (click)="approve(user)" >
                                     Approve
                                  </button>
			                      <button [disabled]="user.email != emailId" type="button" class="btn btn-danger"  (click)="reject(user)">
                                     Reject
                                  </button>
                               </td>
                             </tr>							 
                           </tbody>
                         </table>
                      </div>
					  
                      <div id="menu2" class="tab-pane fade">
                         <table class="table">
                           <thead>
                             <tr>
                               <th style="width:20%">Email</th>
							   <th style="width:20%">Stauts</th>
							   <th style="width:20%">Comments</th>
							   <th style="width:40%">Access</th>
                             </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let user of UserHistoryData">  <!--| paginate:{id: 'versionPagination2', itemsPerPage:5 , currentPage:p2} -->
                               <td data-title="Email">
                                    <a class=" dropdown-toggle" data-toggle="dropdown" data-trigger="hover" href="#">{{user.email}}</a>
                                    <div class="dropdown-menu addresspop">
                                       User Name: {{user.username}} 
									   Company Name: {{user.companyname}} 
									   Designation: {{user.designation}}               
                                    </div>
							   </td>
                               <td data-title="Status">{{user.user_status}}</td>
							   <td data-title="Comments">
							        <input class="textarea" [(ngModel)]="user.comment" disabled>
							   </td>
							   <td data-title="Access" >
							     <div class="row">
								   <label class="col-sm-12 col-md-8">
								     <input type="checkbox" [disabled]="user.user_status == 'rejected'"
								          [checked]="user.access[0].jumpstart == true"
										  (change)="result($event,'jumpstart',user)"><span style="color:black;margin-left:.5em">jumpstart</span>
									</label>
									<label class="col-sm-12 col-md-8">
                                     <input type="checkbox" [disabled]="user.user_status == 'rejected'"
								           [checked]="user.access[1].assessment == true"
										  (change)="result($event,'assessment',user)"><span style="color:black;margin-left:.5em">Assesment Toolkit</span>
								    </label>
									<label class="col-sm-12 col-md-8">
									 <input type="checkbox" [disabled]="user.user_status == 'rejected'"
								           [checked]="user.access[2].integration == true"
										  (change)="result($event,'integration',user)"><span style="color:black;margin-left:.5em">Integration Patterns</span>
									</label>	  
								    <label class="col-sm-12 col-md-8">
									 <input type="checkbox" [disabled]="user.user_status == 'rejected'"
								           [checked]="user.access[3].oneclick == true"
										  (change)="result($event,'oneclick',user)"><span style="color:black;margin-left:.5em">One Click Deployment</span>
									</label>	  
									<label class="col-sm-12 col-md-8">
									 <input type="checkbox" [disabled]="user.user_status == 'rejected'"
								           [checked]="user.access[4].multicloud == true"
										  (change)="result($event,'multicloud',user)"><span style="color:black;margin-left:.5em">Multi Cloud Deployment</span>
								     </label>
									</div>
							       
									<button  [disabled]="user.user_status == 'rejected'" type="button" class="btn btn-success" 
								          style="margin-right: 1em" (click)="approve(user)" >
                                     Update
                                  </button>
							   </td>
                             </tr>
                           </tbody>
                         </table>
						  <!-- <pagination-controls id="versionPagination2" (pageChange)="p2=$event" style="float: right"></pagination-controls> -->
                      </div>
					  					  
                   </div>
                </div>
				
				
            </div>
        </div>
    </div>
</section>


