.w3-button{
    margin-left: 1em;
    border-radius: 1em;
    margin-top: 1em;
    width: 245px;
	color: white;
}

.box1{
 border-radius: 1em;
 border-color: #f0ad4e;
 border-style: solid;
 height: 182px;
 margin-top:1em;
 width: 280px;
}

.box2{
 border-radius: 1em;
 border-color: #5cb85c;
 border-style: solid;
 height: 182px;
 margin-top:1em;
 width: 280px;
}

.box3{
 border-radius: 1em;
 border-color: #5bc0de;
 border-style: solid;
 height: 182px;
 margin-top:1em;
 width: 280px;
}

.box4{
 border-radius: 1em;
 border-color: #d9534f;
 border-style: solid;
 height: 182px;
 margin-top:1em;
 width: 280px;
}