.w3-button{
    margin-left: 0.5em;
    border-radius: 1em;
    margin-top: 1em;
    width: 172px;
	color: white;
}

.box1{
 border-radius: 1em;
 border-color: #f0ad4e;
 border-style: solid;
 height: 172px;
 margin-top:0em;
 width: 190px;
 margin-top: 2em;
}

.box2{
 border-radius: 1em;
 border-color: #5cb85c;
 border-style: solid;
 height: 172px;
 margin-top:0em;
 width: 190px;
 margin-top: 2em;
}

.box3{
 border-radius: 1em;
 border-color: #5bc0de;
 border-style: solid;
 height: 172px;
 margin-top:1em;
 width: 190px;
 margin-top: 2em;
}

.box4{
 border-radius: 1em;
 border-color: #d9534f;
 border-style: solid;
 height: 172px;
 margin-top:1em;
 width: 190px;
 margin-top: 2em;
}