.w3-button{
    margin-left: 1em;
    border-radius: 1em;
    background-color: #159eee;
    margin-top: 1em;
    width: 245px;
	color: white;
}

.box{
 border-radius: 1em;
 border-color: #159eee;
 border-style: solid;
 height: 182px;
 margin-top:1em;
 width: 280px;
}