<section id="about-page-section-3">
    <div class="container" style="height:700px">
        <div class="row" >
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Tools and Accelerators
                        <span></span>
                    </h2>
                    <p class="subheading">Reusable assets for faster development and simplification… </p>
                </div>
                <p>
                    TCS Integration experts are continuously trying to build reusable solutions and assets to address Technology Challenges
                    and to find means to enable business adopt Modern Integration Solutions in a Quick and Risk Free Manner.
                    <br>
                    <br> These Tools & Accelerators enables Organizations to Jump Start their journey to Integration Modernization
                    by quickly upgrading/migrating to the latest Cloud Pak for Integration from the older version of the
                    products in the target platform of their choice (Azure, AWS, GCP, IBM Cloud, Corporate Data Centre).
                </p>
               
				<div>
				
				 <div class="w3-row-padding ">
				    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align ">
					 <div class="box1">
                      <div class="w3-col l3 m6 w3-margin-bottom">
                         <img src="assets/img/assessment-kit-icon.png" alt="John" style="width:140px;height: 100px;margin-left:4em;margin-top:1em;">
                         <button class="w3-button w3-block btn-warning" routerLink="/assessmentToolkit">Assessment Toolkit</button>
                      </div>	
					 </div>
					</div>
					
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align">
					 <div class="box2">
                      <div class="w3-col l3 m6 w3-margin-bottom">
                        <img src="assets/img/patterns-icon.png" alt="Jane" style="width:140px;height: 100px;margin-left:4em;margin-top:1em;">
                        <button class="w3-button w3-block btn-success" routerLink="/integrationPatterns">Integration Patterns</button>
                      </div>
					 </div>
				    </div>
					<br>
				    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align">
					 <div class="box3">
                       <div class="w3-col l3 m6 w3-margin-bottom">
                         <img src="assets/img/one-click-icon.png" alt="Jane" style="width:140px;height: 100px;margin-left:4em;margin-top:1em;">
                        <button class="w3-button  w3-block btn-info" routerLink="/oneClickDeployment">One Click Deployment</button>
                       </div>
					  </div>
					</div>
					   
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align">
                     <div class="box4">					
                      <div class="w3-col l3 m6 w3-margin-bottom">
                        <img src="assets/img/multi-cloud-icon.png" alt="Jane" style="width:140px;height: 100px;margin-left:4em;margin-top:1em;">
                        <button class="w3-button  w3-block btn-danger" routerLink="/multiCloudDeployment">Multi Cloud Deployment</button>
                      </div>
                     </div>					  
                    </div>				   
				 </div>
				 
				 </div>
				
               
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt="">
            </div>
            
           
        </div>
      
    </div>
</section>