<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Services & Solutions <span></span></h2>
                    <p class="subheading">A comprehensive list of all the solutions, offerings, tools & accelerators at a common place…</p>
                </div>
                <p>
                    TCS Integration experts are continuously trying to build reusable solutions and assets to address Technology Challenges and to find means to enable business adopt Modern Integration Solutions in a Quick and Risk Free Manner.
                   <br><br>
                   The services and solutions listed here are the outcome of series of discussions and brain storming sessions with industry leaders and Architects to help the customers and account teams in modernization their integration journey.
                </p>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                 <img height="" width="auto" src="assets/img/services.jpg" class="attachment-full img-responsive" alt="">
                
               
              
              
            
            </div>
        </div>
    </div>
</section>

