<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Services & Solutions <span></span></h2>
                    <p class="subheading">A comprehensive list of all the solutions, offerings, tools & accelerators at a common place…</p>
                </div>
                <p>
                    TCS Integration experts are continuously trying to build reusable solutions and assets to address Technology Challenges and to find means to enable business adopt Modern Integration Solutions in a Quick and Risk Free Manner.
                   <br><br>
                   The services and solutions listed here are the outcome of series of discussions and brain storming sessions with industry leaders and Architects to help the customers and account teams in modernization their integration journey.
                </p>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
               <!--  <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt=""> -->
                
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                  </ol>
              
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" style="height: 100%">
                    <div class="item active">
                      <img src="assets/img/Slide2.jpg"  style="height: 100%">
                    </div>
              
                    <div class="item">
                      <img src="assets/img/Slide3.jpg" style="height: 100%">
                    </div>
                  
                    <div class="item">
                      <img src="assets/img/Slide4.jpg" style="height: 100%">
                    </div>

                    <div class="item">
                      <img src="assets/img/Slide5.jpg" style="height: 100%">
                    </div>

                    <div class="item">
                      <img src="assets/img/Slide6.jpg" style="height: 100%">
                    </div>

                    <div class="item">
                      <img src="assets/img/Slide7.jpg" style="height: 100%">
                    </div>
                  </div>
              
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="top: 50%">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="top: 50%">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              
              
            
            </div>
        </div>
    </div>
</section>

