<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Assessment Toolkit <span></span></h2>
                    <p class="subheading">Starting point towards Integration modernization journey…</p>
                </div>
                <p>
                    Assessment Toolkit is a starting point to assess customer(s) existing integration landscape. The tool breaks the entire integration ecosystem into technical, business, infrastructure and operations domains, analyzing the answers received and creates a comprehensive report detailing tools, accelerators, RoI and best practices, which can be leveraged towards customer integration modernization journey. 
                   <br><br>
                   Please click <u>here</u> to access the toolkit.
                   <br>
                   Please click <u><a href="./../../assets/img/ABC Enterprise_Cloud Pak for Integration Assessment Report v1.0.pdf" target="_blank">here</a></u> to access the assessment report.



                </p>
               </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>


