<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-align">
                <div class="section-heading">
                    <h2>One-Click Deployment <span></span></h2>
                    <p class="subheading">Single click solution to migrate and run your integration workloads inside containers across the platform of your choice…</p>
                </div>
                <p>
                    One-click solution is designed for migrating existing IIB or ACE workload to IBM Cloudpak for Integration
                   <br><br>
                   It provides end-to-end automation that includes Checking out the Code from SCM system, Build deployable artifacts and Deploy to OpenShift container platform
                   <br> <br>
                   Please <u><a href="./../../assets/img/TCS-CP4I-One-Click-Deployment-Users-Manual.pdf" target="_blank">click here</a></u> to download the <b>One-click Deployment Manual<b>.
                </p>
               </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8" style="margin-top: 20px;width: 66%;">
                <!-- <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt=""> -->
                <video width="750" height="350" controls>
                    <source style="width:745; height:350" src="assets/img/cp4i-ci-cd-demo.mp4" type="video/mp4">
                    </video>
                </div>
        </div>
    </div>
</section>


