<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-align">
                <div class="section-heading">
                    <h2>One-Click Deployment <span></span></h2>
                    <p class="subheading">Single click solution to migrate and run your integration workloads inside containers across the platform of your choice…</p>
                </div>
                <p>
                    One-click solution is designed for migrating existing IIB or ACE workload to IBM Cloudpak for Integration.
                   <br>
                   It provides end-to-end automation that includes Checking out the Code from SCM system, Build deployable artifacts and Deploy to OpenShift container platform.
                   <br>
                   Please click <u><a href="./../../assets/img/TCS-CP4I-One-Click-Deployment-Users-Manual.pdf" target="_blank">here</a></u> to download the <b>One-click Deployment Manual/b>.

                </p>
               </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8" style="margin-top: 45px;width: 66%;">
                <img height="" width="auto" src="assets/img/Patterns Overview.jpg" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>