<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>One Click Deployment <span></span></h2>
                    <p class="subheading">Single click solution to migrate and run your integration workloads inside containers across the platform of your choice…</p>
                </div>
                <p>
                    One-click solution is designed for migrating existing IIB or ACE workload to IBM Cloudpak for Integration
                   <br><br>
                   It provides end-to-end automation that includes Checking out the Code from SCM system, Build deployable artifacts and Deploy to OpenShift container platform

                </p>
               </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <!-- <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt=""> -->
                <video width="450" height="240" controls>
                    <source src="movie.mp4" type="video/mp4">
                    </video>
            </div>
        </div>
    </div>
</section>


