<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Tools and Accelerators
                        <span></span>
                    </h2>
                    <p class="subheading">Reusable assets for faster development and simplification… </p>
                </div>
                <p>
                    TCS Integration experts are continuously trying to build reusable solutions and assets to address Technology Challenges
                    and to find means to enable business adopt Modern Integration Solutions in a Quick and Risk Free Manner.
                    <br>
                    <br> These Tools & Accelerators enables Organizations to Jump Start their journey to Integration Modernization
                    by quickly upgrading/migrating to the latest Cloud Pak for Integration from the older version of the
                    products in the target platform of their choice (Azure, AWS, GCP, IBM Cloud, Corporate Data Centre).
                    <br>
                    <br> 
                    Click here for One-Click Deployment demo



                </p>
                <a class="btn btn-primary slide" style="background-color: #1485ff; border-radius:8px;" routerLink="/assessmentToolkit" >Assessment Toolkit<!-- routerLinkActive="active" -->
                    <i class="fa fa-caret-right"></i>
                </a>
                <a class="btn btn-primary slide" style="background-color: #1485ff;border-radius:8px;" routerLink="/oneClickDeployment" >One Click Deployment Tool
                    <i class="fa fa-caret-right"></i><!-- routerLinkActive="active" -->
                </a>
                <a class="btn btn-primary slide" style="background-color: #1485ff;border-radius:8px;" routerLink="/integrationPatterns" >Integration Patterns
                    <i class="fa fa-caret-right"></i>
                </a><!-- routerLinkActive="active" -->
                <a class="btn btn-primary slide" style="background-color: #1485ff;border-radius:8px;" routerLink="/multiCloudDeployment" >Multi Cloud Deployment
                    <i class="fa fa-caret-right"></i><!-- routerLinkActive="active" -->
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <img height="" width="auto" src="assets/img/iphone62.png" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>