<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-align">
                <div class="section-heading">
                    <h2>Multi Cloud Deployment <span></span></h2>
                    <p class="subheading">An agile hybrid way of managing integration workloads across vendor products</p>
                </div>
                <p>
                    It is very likely that the customer is running their application and integration workloads across variety of products and vendors. TCS Multi Cloud Deployment solution enables customer to deploy, run and manage their existing integration workloads inside container platform of their choice (Azure, AWS, IBM Cloud etc)
                   <br><br>
                </p>
                <p>
                    Please click to download  
                    <b>CP4I on Azure document</b> 
                    <a
                      href="assets/doc/CP4IonAzure.docx"
                      target="_blank"
                      ><i class="fa fa-download"></i
                    ></a>
                  </p>
               </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8" style="margin-top: 60px;width: 60%;">
                <img height="" width="auto" src="assets/img/multi-cloud.jpg" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>

